<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let pedido of pedidos.data">
      <ion-card-header>
        <ion-card-title>Pedido {{pedido.num}}</ion-card-title>
        <ion-card-subtitle>Compañia : {{pedido.target_company_name}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Fecha de expedicion {{pedido.created_at}}</p>
        <p>Fecha de entrega {{pedido.issue_date}}</p>
        <p><ion-label>Factura
        <ion-icon *ngIf="pedido.invoices==0" color="danger" name="square"></ion-icon>
        <ion-icon *ngIf="pedido.invoices==1" color="success" name="square"></ion-icon>
        </ion-label>
      </p>
      <p>  
      <ion-label>Albarán
          <ion-icon *ngIf="pedido.delivery_notes==0" color="danger" name="square"></ion-icon>
          <ion-icon *ngIf="pedido.delivery_notes==1" color="success" name="square"></ion-icon>
          </ion-label>
        </p>
      </ion-card-content>
      </ion-card>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
