<ion-header>
  <ion-toolbar>
    <ion-title>modal-Precio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<form #f="ngForm" (ngSubmit)="edit()">
  <ion-item>
      <ion-label>Precio nuevo :</ion-label>
      <ion-input type="text" [(ngModel)]="precio" [ngModelOptions]="{standalone: true}"></ion-input>
  </ion-item>
</form>
<ion-label>&nbsp;&nbsp;&nbsp;(Entre {{precio_min}} y {{precio_max}})</ion-label>

<div *ngIf="precio <= precio_max && precio >= precio_min ; else conditionFalse">
      <p class="ion-text-center">
        <ion-button color="primary" expand="full" (click)="salirConArgumentos()" (click)="tab4Redirect()">Aceptar</ion-button>
      </p>  
    </div>
    <ng-template #conditionFalse>
      <ion-card class="ion-text-center">
        <ion-card-header>
          <ion-card-subtitle>
            Asegurese de que el precio esta en el rango
          </ion-card-subtitle>
        </ion-card-header>    
      </ion-card>
    </ng-template>

<ion-button color="secondary" expand="full" (click)="salirSinArgumentos()" >Atras</ion-button>

</ion-content>



