<ion-header>
  <ion-toolbar>
    <ion-title>
      ALMAGEST
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Registrarse</ion-button>
        <div align="center">
        <div>
          <span class="divider line one-line">or </span>
        </div>
        <div>
          <span class="already">Already a user?</span>
        </div>
        </div>
        <ion-button [routerLink]="['/login']" expand="block" color="secondary">Iniciar sesion</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>