<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="regris()">
  <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input type="text" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellido:</ion-label>
      <ion-input type="text" [(ngModel)]="secondname" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="text" [(ngModel)]="mail" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña:</ion-label>
      <ion-input type="password" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirmar contraseña:</ion-label>
      <ion-input type="password" [(ngModel)]="c_password" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Compañia</ion-label>
      <ion-select [(ngModel)]="company_id" [ngModelOptions]="{standalone: true}">
          <ion-select-option *ngFor="let c of companies" [value]="c.id">{{ c.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    
    <p class="ion-text-center">
      <ion-button type="submit" [routerLink]="['/login']" >Guardar</ion-button>
    </p>  
  </form>
</ion-content>