<ion-header>
  <ion-toolbar>
    <ion-title>Articulos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-searchbar></ion-searchbar>
    <ion-item-sliding *ngFor="let articulo of articulos.data">
      <ion-item>
        <ion-label>
          <h1>{{ articulo.id }}</h1>
          <h3>{{ articulo.description }}</h3>
        </ion-label>
      </ion-item>
      <ion-item-options color="primary" side="end">
        <ion-item-option>
          <ion-button (click)="abrirmodalArticulos(articulo)">Añadir</ion-button>
        </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>

<ion-button color="primary" expand="full" (click)="salirConArgumentos()">Terminar</ion-button>

</ion-content>
