<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Administrador </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list #lista>
    <ion-item-sliding *ngFor="let usuario of usuarios.data">
      <ion-item>
        <ion-label>
          <h3>{{ usuario.firstname }}</h3>
          <p>{{ usuario.email }}</p>
          <p>{{ usuario.id }}</p>
          <p>{{ usuario.actived }}</p>
          <p>{{ usuario.deleted }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options color="primary" side="start">
        <ion-item-option (click)="activar()">
          <ion-button href="/tabs/tab1">Activar</ion-button>
        </ion-item-option>
        <ion-item-option color="primary" (click)="desactivar()">
          <ion-button>Desactivar</ion-button>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminar(usuario.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option color="primary" (click)="compartir(usuario)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
</ion-content>